$white: #ffffff;

$font: "sutregular";

$color1:rgb(51, 32, 221) 0%;
$color2: rgb(102, 38, 222) 22%;
$color3:rgb(94, 57, 227) 47%;
$color4:  rgb(111, 100, 207) 75%;
$color5: rgb(103, 93, 192) 100%;
$colorbg:rgb(190, 190, 190);
$colork:black;

